<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-unity-ads" version="2.1.0">
    <name>Unity Ads</name>
    <description>Cordova Unity Ads</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <js-module src="www/unity-ads.js" name="unity-ads">
        <clobbers target="UnityAds" />
    </js-module>


    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="UnityAdsPlugin">
                <param name="android-package" value="com.platogo.cordova.unityads.UnityAdsPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <preference name="UNITY_ADS_VERSION" default="4.16.3" />


        <framework src="src/android/UnityAdsPlugin.gradle" custom="true" type="gradleReference" />
        <framework src="com.unity3d.ads:unity-ads:$UNITY_ADS_VERSION" />
        <source-file src="src/android/UnityAdsPlugin.java" target-dir="src/com/platogo/cordova/unityads" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UnityAdsPlugin">
                <param name="ios-package" value="UnityAdsPlugin" />
                <param name="onload" value="true" />
            </feature>
            <preference name="deployment-target" value="15.0" />
        </config-file>
        <source-file src="src/ios/UnityAdsPlugin.swift" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="UnityAds" spec="4.16.3" />
            </pods>
        </podspec>
    </platform>
</plugin>
